<app-navigation-bar />

<div class="background-container" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">

    <!-- Navigation (li-Elemente) -->
    <ul class="navigation">
        <li [class.is-active]="isActiveTab('user')">
            <a routerLink="user" (click)="setActiveTab('user')">
                <span class="icon is-small">
                    <fa-icon [icon]="faUser"></fa-icon>
                </span>
                <span> User</span>
            </a>
        </li>
        <li [class.is-active]="isActiveTab('group')">
            <a routerLink="group" (click)="setActiveTab('group')">
                <span class="icon is-small">
                    <fa-icon [icon]="faUserGroup"></fa-icon>
                </span>
                <span> Group</span>
            </a>
        </li>
    </ul>

    <!-- Inhalt der untergeordneten Routen (z. B. CreateUser oder CreateGroup) -->
    <div class="form-container">
        <router-outlet></router-outlet>
    </div>

</div>
