<div>
    <div>
        <nav class="navbar contact-navbar is-flex" role="navigation" aria-label="main navigation"
            style="height: 4.3rem;">
            <div class="navbar-brand">
                <h1 class="title" style="padding-top: 15%; color: black;">Chat</h1>
            </div>
        </nav>
    </div>

    <!-- Search Bar -->
    <div class="field has-addons" style="margin-bottom: 0px;">
        <div class="control is-expanded">
            <input class="input" type="text" [(ngModel)]="searchContact" placeholder="search" (keyup)="filterChats()">
        </div>
        <div class="control">
            <button class="button" style="background-color: #ff6d43;" (click)="filterChats()">
                Search
            </button>
        </div>
    </div>

    <!-- List Container -->
    <div class="list-container" style="display: flex; flex-direction: column;">
        <!-- List with scrollbar -->
        <ng-scrollbar class="scrollable-content" style="flex: 1; margin-bottom: 0px;">
            <div class="list has-hoverable-list-items">
                <div class="list-item" *ngFor="let chat of filteredChats" (click)="selectChat(chat)">
                    <div class="list-item-image">
                        <figure class="image is-64x64">
                            <img class="is-rounded" src="https://via.placeholder.com/128x128.png?text=Image">
                        </figure>
                    </div>
                    <div class="list-item-content">
                        <!-- Chat Name -->
                        <div class="list-item-title">{{ chat.chatName }}</div>

                        <!-- Member Emails -->
                        <div class="list-item-description">
                            <span *ngFor="let user of chat.users; let i = index">
                                {{ user.email }}<span *ngIf="i < chat.users.length - 1">, </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-scrollbar>

        <!-- Lower Bar -->
        <app-lower-bar (chatAdded)="addNewChat($event)"></app-lower-bar>
    </div>
</div>
