<nav class="navbar" #navbar role="navigation" aria-label="main navigation" data-theme="">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img [src]="evidenLogo" alt="Eviden Logo">
        </a>

        <!-- Burger menu for mobile screens -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample"
            (click)="toggleNavbar()" [ngClass]="{'is-active': navbarOpen}">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': navbarOpen}">
        <div class="navbar-start">
            <a class="navbar-item">
                <img [src]="dashboardIcon" alt="Dashboard Icon"> Dashboard
            </a>

            <a class="navbar-item">
                <img [src]="groupsIcon" alt="Groups Icon"> Groups
            </a>

            <a class="navbar-item">
                <img [src]="contactIcon" alt="Contact Icon"> Contact
            </a>

            <a class="navbar-item">
                <img [src]="mapIcon" alt="Map Icon"> Map
            </a>
        </div>

        <!-- Change to light/dark mode -->
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <img [src]="themeIcon">
            </a>

            <div class="navbar-dropdown is-right">
                <a class="navbar-item" (click)="changeTheme('light')">
                    <img src="../../../assets/icons/theme/sonne.png"> Light
                </a>
                <a class="navbar-item" (click)="changeTheme('dark')">
                    <img src="../../../assets/icons/theme/dark.png"> Dark
                </a>
                <a class="navbar-item" (click)="changeTheme('system')">
                    <img src="../../../assets/icons/theme/monitor.png"> System
                </a>
            </div>
        </div>

        <!-- More dropdown -->
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <img [src]="moreIcon" alt="More Icon">
            </a>

            <div class="navbar-dropdown is-right">
                <a class="navbar-item">
                    Overview
                </a>
                <a class="navbar-item">
                    Elements
                </a>
                <a class="navbar-item">
                    Components
                </a>
                <hr class="navbar-divider">
                <div class="navbar-item">
                    Version 1.0.2
                </div>
            </div>
        </div>
    </div>
</nav>
