.navbar-dark {
  background-color: #002d3c;
  color: white;
}

.navbar-light {
  background-color: #ff6d43;
  color: black;
}

.navbar-link {
  color: inherit;
  /* Erbt die Farbe von der Navbar  */
}


.navbar-link::after {
  display: none;
}
