/* Default Light Mode (falls kein prefers-color-scheme definiert ist) */
.navbar[data-theme="light"] {
  background-color: #ff6d43;
  color: black;
}

.navbar[data-theme="dark"] {
  background-color: #002d3c;
  color: white;
}

/* Automatic system theme detection using prefers-color-scheme */
@media (prefers-color-scheme: dark) {
  .navbar {
    background-color: #002d3c;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .navbar {
    background-color: #ff6d43;
    color: black;
  }
}

.navbar-link {
  color: inherit;
  /* Erbt die Farbe von der Navbar  */
}


.navbar-link::after {
  display: none;
}