<div class="background-container" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
    <div class="form-container">
        <form [formGroup]="form" (ngSubmit)="updateUser()"> 
            <div class="field">
                <label class="label">{{'CREATE.USER.FIRSTNAME' | translate}}</label>
                <div class="control">
                    <input 
                        class="input is-fullwidth" 
                        type="text" 
                        placeholder="{{'CREATE.USER.FIRSTNAME' | translate}}" 
                        formControlName="firstname" 
                        [readonly]="!isEditable"
                        [class.is-light]="!isEditable">
                </div>
            </div>

            <div class="field">
                <label class="label">{{'CREATE.USER.LASTNAME' | translate}}</label>
                <div class="control">
                    <input 
                        class="input is-fullwidth" 
                        type="text" 
                        placeholder="{{'CREATE.USER.LASTNAME' | translate}}" 
                        formControlName="lastname" 
                        [readonly]="!isEditable"
                        [class.is-light]="!isEditable">
                </div>
            </div>

            <div class="field">
                <label class="label">{{'CREATE.USER.USERNAME' | translate}}</label>
                <div class="control">
                    <input 
                        class="input is-fullwidth" 
                        type="text" 
                        placeholder="{{'CREATE.USER.USERNAME' | translate}}" 
                        formControlName="username" 
                        [readonly]="!isEditable"
                        [class.is-light]="!isEditable">
                </div>
            </div>

            <div class="field">
                <label class="label">{{'CREATE.USER.EMAIL' | translate}}</label>
                <div class="control">
                    <input 
                        class="input is-fullwidth" 
                        type="email" 
                        placeholder="{{'CREATE.USER.EMAIL' | translate}}" 
                        formControlName="email" 
                        [readonly]="!isEditable"
                        [class.is-light]="!isEditable">
                </div>
            </div>

            <div class="field is-grouped is-justify-content-center">
                <div class="control">
                    <button 
                        class="button is-link" 
                        type="button" 
                        (click)="toggleEdit()">
                        {{ isEditable ? ('SETTINGS.SAVE' | translate) : ('SETTINGS.EDIT' | translate) }}
                    </button>
                </div>
                <div class="control" *ngIf="isEditable">
                    <button 
                        class="button is-link is-light" 
                        type="button" 
                        (click)="cancelEdit()">
                        {{'CREATE.CANCEL' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
