<div class="container">
    <div class="columns">
        <!-- Frontend Section -->
        <div class="column">
            <div class="section">
                <h2 class="title is-4 has-text-centered" >Frontend</h2>
                <div class="columns is-multiline">
                    <div class="column is-half" *ngFor="let card of frontendCards">
                        <button class="is-fullwidth" (click)="openLink(card.link)">
                            <div class="card is-small">
                                <div class="card-image">
                                    <figure class="image is-4by3 is-fullwidth">
                                        <img [src]="card.image" alt="Placeholder image" />
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-6">{{ card.title }}</p>
                                            <p class="subtitle is-7">{{ card.subtitle }}</p>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <a href="#">{{ card.tag }}</a>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Backend Section -->
        <div class="column">
            <div class="section">
                <h2 class="title is-4 has-text-centered">Backend</h2>
                <div class="columns is-multiline">
                    <div class="column is-half" *ngFor="let card of backendCards">
                        <button class="is-fullwidth" (click)="openLink(card.link)">
                            <div class="card is-small">
                                <div class="card-image">
                                    <figure class="image is-4by3 is-fullwidth">
                                        <img [src]="card.image" alt="Placeholder image" />
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-6">{{ card.title }}</p>
                                            <p class="subtitle is-7">{{ card.subtitle }}</p>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <a href="#">{{ card.tag }}</a>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Betreuer Section -->
    <div class="section has-text-centered">
        <h2 class="title is-4">Betreuer</h2>
        <div class="columns is-centered">
            <div class="column is-one-third">
                <button class="is-fullwidth" (click)="openLink(supervisorCards[0].link)">
                    <div class="card is-small">
                        <div class="card-image">
                            <figure class="image is-4by3 is-fullwidth">
                                <img [src]="supervisorCards[0].image" alt="Placeholder image" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-6">{{ supervisorCards[0].title }}</p>
                                    <p class="subtitle is-7">{{ supervisorCards[0].subtitle }}</p>
                                </div>
                            </div>
                            <div class="content">
                                <a href="#">{{ supervisorCards[0].tag }}</a>
                                <br />
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
