.card.is-small {
    padding: 0.5rem;
    /* Weniger Padding für kleinere Karten */
}

.card-content {
    padding: 0.5rem;
}

.card-image figure {
    max-height: 150px;
    /* Höhe des Bildes reduzieren */
}

.image.is-32x32 {
    max-width: 32px;
    /* Avatar-Bild kleiner machen */
}

.title.is-6 {
    font-size: 1rem;
    /* Überschrift der Karte kleiner machen */
}

.subtitle.is-7 {
    font-size: 0.85rem;
    /* Untertitel der Karte kleiner machen */
}

.is-fullwidth{
    width: 100%;
}

.card-image figure {
    max-height: 150px; /* Höhe des Bildes */
    display: flex;
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    overflow: hidden; /* Überflüssige Teile des Bildes abschneiden */
}

.card-image img {
    width: auto;
    /* TODO: Das padding Nacher entfernen, weil es bad ist */
    padding-left: 80px; /* Bild proportional skalieren */
    height: 100%; /* Höhe des Bildes anpassen */
    justify-content: center;
    align-items: center;
}
