<app-navigation-bar />

<div [attr.data-theme]="currentTheme" class="full-height" [ngClass]="{'dark-theme': currentTheme === 'dark', 'light-theme': currentTheme === 'light'}">
    <p-splitter [panelSizes]="[50,50]" [minSizes]="[30,30]" [style]="{ height: '100%' }" styleClass="mb-5">
        <ng-template pTemplate>
            <div class="col" [ngClass]="{'dark-theme': currentTheme === 'dark', 'light-theme': currentTheme === 'light'}">
                <div class="table-responsive">
                    <nav class="navbar navbar-color">
                        <div class="navbar-brand" style="display: flex; align-items: center; padding-left: 1rem;">
                            <div class="field" style="height: 6rem;">
                                <div class="navbar-item">
                                    <div class="list-item-content">
                                        <label class="list-item-title">Used map</label>
                                    </div>
                                </div>
                                <div class="control">
                                    <div class="select">
                                        <select [(ngModel)]="selectedMap" name="map"
                                            (change)="changeMapType(selectedMap)">
                                            <option *ngFor="let mapType of mapTypes" [value]="mapType.value">
                                                {{ mapType.viewValue }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>

                    <table mat-table [dataSource]="dataSource" matSort class="table"
                        [ngClass]="{'dark-theme': currentTheme === 'dark', 'light-theme': currentTheme === 'light'}">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                        </ng-container>
                        <ng-container matColumnDef="longitude">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitude </th>
                            <td mat-cell *matCellDef="let element"> {{element.location.longitude}} </td>
                        </ng-container>
                        <ng-container matColumnDef="latitude">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Latitude </th>
                            <td mat-cell *matCellDef="let element"> {{element.location.latitude}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div class="col">
                <app-map [users]="users" [selectedMap]="selectedMap"></app-map>
            </div>
        </ng-template>
    </p-splitter>
</div>
