<app-navigation-bar></app-navigation-bar>

<div class="background-container is-flex is-justify-content-center is-align-items-center"
    [ngStyle]="{'background-image': 'url(' + backgroundImage + ')', 'min-height': '100vh'}">

    <!-- Formular Container -->
    <form [formGroup]="form" class="container box" style="width: 100%; max-width: 500px;">

        <div class="field">
            <label class="label">Firstname</label>
            <div class="control">
                <input class="input" type="text" placeholder="Firstname" formControlName="firstname">
            </div>
        </div>

        <div class="field">
            <label class="label">Lastname</label>
            <div class="control">
                <input class="input" type="text" placeholder="Lastname" formControlName="lastname">
            </div>
        </div>

        <!-- Username -->
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Username" formControlName="username"
                    [ngClass]="{'is-success': form.controls['username'].valid, 'is-danger': form.controls['username'].invalid && form.controls['username'].dirty}">
                <span class="icon is-small is-left">
                    <fa-icon [icon]="faUser"></fa-icon>
                </span>
                <span class="icon is-small is-right"
                    *ngIf="form.controls['username'].invalid && form.controls['username'].dirty">
                    <fa-icon [icon]="faExclamationTriangle"></fa-icon>
                </span>
                <span class="icon is-small is-right"
                    *ngIf="form.controls['username'].valid">
                    <fa-icon [icon]="faCheck"></fa-icon>
                </span>
            </div>
            <p class="help is-danger" *ngIf="form.controls['username'].invalid && form.controls['username'].dirty">
                Username is required
            </p>
        </div>

        <!-- Email -->
        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email" formControlName="email"
                    [ngClass]="{'is-success': form.controls['email'].valid, 'is-danger': form.controls['email'].invalid && form.controls['email'].dirty}">
                <span class="icon is-small is-left">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
                <span class="icon is-small is-right"
                    *ngIf="form.controls['email'].invalid && form.controls['email'].dirty">
                    <fa-icon [icon]="faExclamationTriangle"></fa-icon>
                </span>
                <span class="icon is-small is-right"
                    *ngIf="form.controls['email'].valid">
                    <fa-icon [icon]="faCheck"></fa-icon>
                </span>
            </div>
            <p class="help is-danger" *ngIf="form.controls['email'].invalid && form.controls['email'].dirty">
                This email is invalid
            </p>
        </div>

        <!-- Password -->
        <div class="field">
            <label class="label">Temporary Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="password" placeholder="Temporary Password" formControlName="password"
                    [ngClass]="{'is-success': form.controls['password'].valid, 'is-danger': form.controls['password'].invalid && form.controls['password'].dirty}">
                <span class="icon is-small is-left">
                    <fa-icon [icon]="faKey"></fa-icon>
                </span>
                <span class="icon is-small is-right"
                *ngIf="form.controls['password'].invalid && form.controls['password'].dirty">
                <fa-icon [icon]="faExclamationTriangle"></fa-icon>
            </span>
            <span class="icon is-small is-right"
                    *ngIf="form.controls['password'].valid">
                    <fa-icon [icon]="faCheck"></fa-icon>
                </span>
            </div>
            <p class="help is-danger" *ngIf="form.controls['password'].hasError('passwordStrength')">
                {{ form.controls['password'].getError('passwordStrength') }}
            </p>
            <p class="help is-danger" *ngIf="form.controls['password'].hasError('passwordLength')">
                {{ form.controls['password'].getError('passwordLength') }}
            </p>
        </div>

        <div class="field is-grouped is-justify-content-center">
            <div class="control">
                <button class="button is-link" type="submit" [disabled]="form.invalid">Submit</button>
            </div>
            <!-- TODO: Clear the fields above -->
            <div class="control">
                <button class="button is-link is-light" (click)="form.reset()">Cancel</button>
            </div>
        </div>
    </form>
</div>