
html, body {
    height: 100%;
    margin: 0;
}

.columns {
    height: 100vh;
}

.contact {
    background-color: #ECECED;
    color: black;
    height: 100%;
}

.chat {
    height: 100%;
}

.contact-navbar{
    background-color: yellow;
    color: brown;
    
}
