<div class="chat-container box is-flex is-flex-direction-column" style="height: 100vh; border-radius: 0;">

  <!-- Responsive Navbar -->
  <div style="top: 0; width: 100%; z-index: 1;">
    <nav class="navbar navbar-color" style="margin: 0; padding: 0; height: 80px; z-index: 1;">
      <div class="navbar-brand" style="display: flex; align-items: center; padding-left: 10px;">
        <!-- Bild -->
        <figure class="image is-64x64" style="margin-right: 10px;">
          <img class="is-rounded" src="https://via.placeholder.com/128x128.png?text=Image">
        </figure>

        <!-- Text, ersetzt durch ausgewählten Kontakt -->
        <div class="navbar-item">
          <div class="list-item-content">
            <div class="list-item-title" style="font-weight: bold;">{{ contact.name || 'List item' }}</div>
            <div class="list-item-description" style="font-size: 0.9rem;">{{ contact.email || 'List item description' }}
            </div>
          </div>
        </div>

        <!-- Burger Icon für mobile Geräte -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu"
          (click)="toggleNavbar()">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

       <!-- ! Phoebe hatte ne gute Idee -->

      <div id="navbarMenu" [class.is-active]="navbarOpen" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button">
                <img src="../../../assets/icons/contact-chat/black/telefon_black.png">
              </a>
              <a class="button">
                <img src="../../../assets/icons/contact-chat/black/more_black.png" alt="Menü bar">
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Nachrichtenbereich -->
  <div class="messages is-flex-grow-1 is-overflow-auto p-3">
    <div *ngFor="let msg of messages"
      [ngClass]="{'left-message': msg.author !== 'Ich', 'right-message': msg.author === 'Ich'}"
      class="notification mb-2">

      <div class="message-header">
        <span class="author" style="font-weight: bold;">{{ msg.author }}</span>
        <span class="timestamp" style="font-size: 0.8rem; color: gray;">{{ msg.timestamp | date:'short' }}</span>
      </div>
      <div class="message-content">{{ msg.message }}</div>
    </div>
  </div>

  <!-- Eingabebereich -->
  <div class="input-container field has-addons p-3">
    <div class="control is-expanded">
      <input class="input" [(ngModel)]="message" placeholder="Deine Nachricht eingeben..."
        (keyup.enter)="sendMessage()" />
    </div>
    <div class="control">
      <button class="button is-primary" (click)="sendMessage()">Senden</button>
    </div>
  </div>

</div>
