<form [formGroup]="form" (ngSubmit)="createSubGroup()">

    <!-- Group Name -->
    <div class="field">
        <label class="label">{{ 'CREATE.GROUP.GROUPNAME' | translate }}</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-fullwidth" type="text" placeholder="{{ 'CREATE.GROUP.GROUPNAME' | translate }}"
                formControlName="groupname" [ngClass]="{
            'is-success': form.controls['groupname'].valid,
            'is-danger': form.controls['groupname'].invalid && form.controls['groupname'].dirty
          }" />
            <span class="icon is-small is-left">
                <fa-icon [icon]="faUser"></fa-icon>
            </span>
            <span class="icon is-small is-right"
                *ngIf="form.controls['groupname'].invalid && form.controls['groupname'].dirty">
                <fa-icon [icon]="faExclamationTriangle"></fa-icon>
            </span>
            <span class="icon is-small is-right" *ngIf="form.controls['groupname'].valid">
                <fa-icon [icon]="faCheck"></fa-icon>
            </span>
        </div>
        <p class="help is-danger" *ngIf="form.controls['groupname'].invalid && form.controls['groupname'].dirty">
            Group name is required
        </p>
    </div>

    <!-- Group Master Email -->
    <div class="field">
        <label class="label">{{ 'CREATE.GROUP.EMAIL' | translate }}</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-fullwidth" type="email" placeholder="{{ 'CREATE.GROUP.EMAIL' | translate }}"
                formControlName="groupmasteremail" [ngClass]="{
            'is-success': form.controls['groupmasteremail'].valid,
            'is-danger': form.controls['groupmasteremail'].invalid && form.controls['groupmasteremail'].dirty
          }" />
            <span class="icon is-small is-left">
                <fa-icon [icon]="faEnvelope"></fa-icon>
            </span>
            <span class="icon is-small is-right"
                *ngIf="form.controls['groupmasteremail'].invalid && form.controls['groupmasteremail'].dirty">
                <fa-icon [icon]="faExclamationTriangle"></fa-icon>
            </span>
            <span class="icon is-small is-right" *ngIf="form.controls['groupmasteremail'].valid">
                <fa-icon [icon]="faCheck"></fa-icon>
            </span>
        </div>
        <p class="help is-danger"
            *ngIf="form.controls['groupmasteremail'].invalid && form.controls['groupmasteremail'].dirty">
            A valid email is required
        </p>
    </div>
    
    <ng-scrollbar style="max-height: 300px; overflow-y: auto;">
        <div class="field" *ngFor="let user of users; let i = index">
            <label class="label">{{ 'ADD.USER' | translate }}</label>
            <div class="control has-icons-left">
                <input class="input is-fullwidth" type="text" placeholder="{{ 'SEARCH.USER' | translate }}"
                    (input)="onUserSearch($event,i)" />
                <span class="icon is-small is-left">
                    <fa-icon [icon]="faUser"></fa-icon>
                </span>
            </div>
            <div class="control">
                <ul *ngIf="filteredUsers[i]?.length">
                    <li *ngFor="let suggestion of filteredUsers[i]" (click)="onSelectUser(suggestion, i)">
                        {{ suggestion.name }}
                    </li>
                </ul>
            </div>
        </div>
    </ng-scrollbar>

    <!-- Add Another User Button -->
    <div class="field has-text-centered">
        <div class="control">
            <button type="button" class="button is-light" (click)="addUserField()">
                +
                <!-- + {{ 'ADD.ANOTHER.USER' | translate }} -->
            </button>
        </div>
    </div>

    <!-- Form Actions -->
    <div class="field is-grouped is-justify-content-center">
        <div class="control">
            <button class="button is-link" type="submit" [disabled]="form.invalid">
                <!-- {{ 'CREATE.SUBMIT' | translate }} -->
                Submit
            </button>
        </div>
        <div class="control">
            <button class="button is-link is-light" type="button" (click)="form.reset()">
                <!-- {{ 'CREATE.CANCEL' | translate }} -->
                Cancel
            </button>
        </div>
    </div>
</form>