<div class="chat-container box is-flex is-flex-direction-column" style="height: 100vh; border-radius: 0;">

  <!-- grüne Navbar -->
  <div style="position: absolute; top: 0; width: 100%;">
    <nav class="navbar is-primary" style="margin: 0; padding: 0; height: 80px; padding-left: 15px;">
      <div class="navbar-brand" style="display: flex; align-items: center;">
        <!-- Bild -->
        <figure class="image is-64x64" style="margin-right: 10px;">
          <img class="is-rounded" src="https://via.placeholder.com/128x128.png?text=Image">
        </figure>

        <!-- Text -->
        <div class="navbar-item">
          <div class="list-item-content">
            <div class="list-item-title" style="font-weight: bold;">List item</div>
            <div class="list-item-description" style="font-size: 0.9rem;">List item description</div>
          </div>
        </div>
      </div>
    </nav>
  </div>


  <!-- Nachrichtenbereich -->
  <div class="messages is-flex-grow-1 is-overflow-auto">
    <div *ngFor="let msg of messages" class="notification is-primary">
      {{ msg }}
    </div>
  </div>

  <!-- Eingabebereich -->
  <div class="input-container field has-addons p-3">
    <div class="control is-expanded">
      <input class="input" [(ngModel)]="message" placeholder="Deine Nachricht eingeben..." />
    </div>
    <div class="control">
      <button class="button is-primary" (click)="sendMessage()">Senden</button>
    </div>
  </div>

</div>